@charset "UTF-8";

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --yellow: #ffcc29;
  --blue: #1d539e;
  --gray: #828799;
  --page-background: #f9fbfc;
}

body {
  background-color: var(--page-background);
}

header {
  display: flex;
  flex-direction: column;
  width: 98.7vw;
  height: 50vh;
  background-color: var(--blue);
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  color: #ffffff;
}

header h1 {
  margin-bottom: 1.25rem;

  width: 34.56rem;
  height: 4.06rem;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.06rem;
}

header p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.56rem;
  text-align: center;
}

section {
  display: flex;
  top: 15.62rem;
  left: 8rem;
  position: absolute;
  height: 31.25rem;
  width: 22.18rem;
}

article {
  background-color: #ffffff;
  margin-right: 20px;
  box-shadow: 0rem 0.06rem 0.125rem rgba(142, 150, 185, 0.25);
  border-radius: 0.5rem;
}

.price {
  display: flex;
  margin-left: 1.81rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.06rem;
  color: #1e2338;

  margin-top: 1.25rem;
}

.mes {
  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.56rem;
  color: #828799;
  margin-top: 1.18rem;
  margin-left: 0.31rem;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1.18rem;

  margin-left: 1.93rem;
  margin-top: 0.62rem;

  color: #828799;
}

.linha-vertical {
  display: flex;
  width: 18.43rem;
  height: 0.125rem;
  background: #eeeeee;
  margin-left: 1.87rem;
  margin-right: 1.87rem;

  margin-top: 1.25rem;
}

ul,
li {
  margin-left: 1.93rem;
  margin-top: 1.25rem;

  font-style: normal;
  font-weight: 600;
  font-size: 0.87rem;
  line-height: 1.18rem;
  color: var(--gray);
  list-style-image: url(assets/check.svg);
}

#Profissional button,
#Free button,
#Basico button {
  width: 18.5rem;
  height: 3.06rem;
  margin-left: 1.81rem;

  border: 0.06rem solid var(--blue);
  border-radius: 0.62rem;

  font-style: normal;
  font-weight: 600;
  font-size: 1.12rem;
  line-height: 1.56rem;

  text-align: center;
  text-transform: uppercase;

  color: var(--blue);
}

#Free h2,
#Profissional h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.12rem;
  line-height: 1.56rem;
  color: var(--blue);

  margin-top: 1.87rem;
  margin-left: 1.87rem;
}

#Profissional button {
  margin-top: 2.62rem;
}

#Basico {
  height: 32.25rem;
}

#Free button {
  margin-top: 7.5rem;
}

#Basico button {
  color: #ffffff;
  margin-top: 4.31rem;
  background-color: var(--blue);
}

#Popular {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.87rem;
  height: 2rem;

  border-radius: 40rem;
  background-color: var(--blue);
  color: #ffffff;
}

.Promo {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 22.12rem;
  height: 4.75rem;
  background-color: var(--yellow);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

#Basico h2 {
  color: var(--blue);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.68rem;
}
