@charset "UTF-8";

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --yellow: #ffcc29;
  --blue: #1d539e;
  --gray: #828799;
  --page-background: #f9fbfc;
}

body {
  background-color: var(--page-background);
}

header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  background-color: var(--blue);
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  color: #ffffff;
}

header h1 {
  margin-bottom: 20px;

  width: 553px;
  height: 65px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
}

header p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

section {
  display: flex;
  top: 270px;
  left: 167px;
  background-color: #ffffff;
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0px, 1px, 2px, rgba(142, 150, 185, 0.25);
  height: 400px;
  width: 355px;
}

h2 {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-left: 30px;
  margin-top: 30px;
}

.price {
  display: flex;
  margin-left: 29px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #1e2338;

  margin-top: 20px;
}

.mes {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #828799;
  margin-top: 19px;
  margin-left: 5px;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  margin-left: 31px;
  margin-top: 10px;

  color: #828799;
}

.linha-vertical {
  display: flex;
  width: 295px;
  height: 2px;
  background: #eeeeee;
  margin-left: 30px;
  margin-right: 30px;

  margin-top: 20px;
}
